{{>head}}
{{>navbar}}

<div class="row">
  <div class="col-8">
    <h1>{{ capitalizar 'fotografia chula'}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam optio perspiciatis laborum autem labore, nemo, atque enim rerum voluptatem beatae dignissimos quibusdam fugit quae ipsum! Dicta repellat vero fugiat eligendi.</p>
  </div>
  <div class="col-4">
    <img src="assets/img/ok.gif" alt="" class="img img-thumbnail">
  </div>
</div>
{{>footer}}